# Normalize line endings for all files that Git considers text files.
* text=auto eol=lf

# Asset Library: only include the addons/ folder in downloads
/** export-ignore
/godot    !export-ignore
/godot/addons    !export-ignore
/godot/addons/** !export-ignore
/LICENSE !export-ignore
/README.md !export-ignore
